.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../../assets/76.webp');
  background-size: cover;
  /* background-color: rgb(146, 199, 245); */
}
.formWrapper   h2{
    color: #d51b1b;
    margin-bottom: 6px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.formWrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  border-radius: 16px;
padding: 1rem 2rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  width: 100%;
  max-width: 400px;
}

.formWrapper form input {
  width: 100%;
  padding: 6px;
  margin: 4px 0;
  border: 1px solid #ffffff;
  background-color: #ffffff;

  border-radius: 5px;
}
.formWrapper form input:focus {
  outline: none;
  border-color: #2ed12b;

}
.formWrapper form label {
  color: #033744;
  font-weight: bold;
  display: block;
  width: 100%; 
}
.formWrapper form input[type="submit"] {
  width: 100%;
  padding: 6px;
  margin: 6px 0;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.button{
  background-color:  white;
  color: #d12b31;
  font-weight: bold;
  padding: 6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 16px;
}

.error {
  color: rgb(214, 79, 79);
  font-weight: thin;
  margin: 4px 0;
}
.link{
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  margin-top: 2rem;
  font-size: 1.25rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}